@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Colors */
  --BGCOLOR: #f0f0f0;
  --BORDER-COLOR: #333;
  --COLOR: #333;
  --ERROR: #ff0000;
  --INACTIVE: #999;
  --LINK-COLOR: #007bff;
  --LINK-HOVER: #0056b3;
  --NOTE-BGCOLOR: #f8d7da;
  --STATUS-COMPLETE: #28a745;
  --STATUS-OPEN: #dc3545;
  --TABLE-BGCOLOR: #fff;
  --TABLE-COLOR: #000;
}

/* Utility Classes */
.errmsg {
  display: inline-block;
  background-color: var(--NOTE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  background-color: var(--BORDER-COLOR);
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* General Styles */
body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:visited {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* Pages */
.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border: 2px solid var(--BORDER-COLOR);
  padding: 1em;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ ";
}

/* Dash Header, Container & Footer */
.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 1em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash-header__nav {
  display: flex;
  gap: 0.5em;
}

.dash-container {
  padding: 1em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 1em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}
